.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;


    form {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 8px;
    }
    label {
        grid-column: 1 / 2;
    }
     
    input,
    button {
        grid-column: 2 / 3;
    }
}
