* {
  box-sizing: border-box;
}
body {
  background: #ffffff;
  margin: 0;
  width: 100%;

  font: 500 100% system-ui, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrap {
  background: #e8e8e8;
  height: calc(100vh - 10px);
  box-shadow: 0 0 3px rgba(black, 0.33);
  display: flex;
  flex-direction: column;
  
  > * {
    text-align: center;
  }
  width: 1280px;
  @media (max-width: 1280px) {
    width: 100%;
  }
}

.page-header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid rgb(201, 201, 201);
  // box-shadow: 0 0 0 1px rgb(176, 176, 176);
  a {
    text-decoration: none;
    color: inherit;
    h1 {
      padding: 5px 5px 5px 20px;
    }
  }
}


.login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  float: right;
  
  > div {
    padding: 10px;
  }
}


.page-main {
  background: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid rgb(201, 201, 201);
  h1 {
    font-size: 32px;
  }
  width: 100%;
  padding: 1rem;
}


details p {
  text-transform: none;
  text-align: left;
}